<h1>Cart</h1>

<div class="shopping-cart">
  <table class="table">
    <thead>
      <tr>
        <th id="header-remove">Remove</th>
        <th id="header-img">Image</th>
        <th>Product(s)</th>
        <th>Price</th>
        <th>Qty</th>
        <th id="header-total">TOTAL</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td id="td-checkbox">
          <input type="checkbox">
        </td>

        <td id="td-img">
          <div class="image"></div>
        </td>

        <td id="product-name">
          <label>
            123
          </label>
        </td>

        <td id="td-price">
          <span class="price">12.23</span> AED
        </td>

        <td id="td-qty">
          <input type="number" class="qty-inp" value="2">
        </td>
        <td id="td-total">
          <div class="div-total"><span class="total-val">1</span><span> AED</span> </div>
        </td>
      </tr>

      <tr>
        <td id="td-checkbox">
          <input type="checkbox">
        </td>

        <td id="td-img">
          <div class="image"></div>
        </td>

        <td id="product-name">
          <label>
            1234
          </label>
        </td>

        <td id="td-price">
          <span class="price">52.23</span> AED
        </td>

        <td id="td-qty">
          <input type="number" class="qty-inp form-control" value="1">
        </td>
        <td id="td-total">
          <div class="div-total"><span class="total-val">1</span><span> AED</span> </div>
        </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td id="td-sum-total">
          TOTAL OF:
        </td>
        <td id="td-sum-total-val">
          <div class="div-total"><span id="sum-total-val">0</span> <span>AED</span> </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="buttons">
    <button type="button" class="btn btn-secondary">Update Shopping Cart</button>
    <button type="button" class="btn btn-primary float-right">Create Order</button>
  </div>
</div>
