<div class="container">
  <div class="row mt-5">
    <div class="col-3">
      <h4 class="text-center">Categories</h4>
      <nav class="nav nav-pills flex-column pl-4">
        
        <% Category.all.each do |category| %>
          <% if  category == @category %>
            <%= link_to category.name, category, class: "nav-item nav-link active" %>
          <% else %>
            <%= link_to category.name, category, class: "nav-item nav-link" %>
          <% end %>
        <% end %>

      </nav>
    </div>

    <div class="col-9">
      <h4>Product Groups</h4>
      <!-- The idea here is to use text-primary class for selected group and text-secondary for all others" -->
      <% @product_groups.each do |pg| %>
        <!-- check if @product_category varialble exists(we are in product_group show page)-->
        <% if @product_group && pg == @product_group %>
          <%= link_to pg.name, category_product_group_path(pg.category, pg), class: "text-primary" %>
        <% else %>
          <%= link_to pg.name, category_product_group_path(pg.category, pg), class: "text-secondary" %>
        <% end %>

        <br />
      <% end %>
    </div>
  </div>
</div>

