<div class="container">
  <div class="row mt-5">
    <div class="col-3">
      <h4 class="text-center">Categories</h4>
      <nav class="nav nav-pills flex-column pl-4">
        
        <% Category.all.each do |category| %>
          <% active_class = category == @category ? "active" : "" %>
          <%= link_to category.name, category, class: "nav-item nav-link #{active_class}" %>
        <% end %>

      </nav>
    </div>

    <div class="col-9">
      <h4>Product Groups</h4>
      <!-- The idea here is to use text-primary class for selected group and text-secondary for all others" -->
      <% @product_groups.each do |pg| %>
        <!-- check if @product_category varialble exists(we are in product_group show page)-->
        <% text_class = @product_group && pg == @product_group ? "text-primary" :  "text-secondary" %>
        <%= link_to pg.name, category_product_group_path(pg.category, pg), class: text_class %>
        <br />
      <% end %>
      
    </div>
  </div>
</div>

